body {
  background-color: rgb(98, 8, 8);
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.wine-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 1em 10%;
  align-items: center;
}

.wine-card{
  width: 300px;
  text-align: center;
}

.wine-card img {
  height: 300px;
  max-width: 70%;
}

button {
  font-size: 24 px;
  color: rgb(98, 8, 8);
  background-color: wheat;
  border: none;
  border-radius: 8px;
  padding: 8px, 40px;
}